{% extends "_layout.html" %}
{% block title %}
  Edit
{% endblock %}
{% block content %}

    {% if current_user.role == 'admin' %}
    <h5 class="text-center text-muted">Admin access only</h5>
    {% endif %}
    <h1>Update {{user.username}}'s Profile</h1>
    <form action="{{url_for('users.update',id=user.id)}}" method="POST"> 
        {% for error in errors if errors|length > 0 %}
        <ul class="flashes alert alert-danger" role="alert" style="list-style: none">  
            <li>{{error}}</li>
        </ul>
        {% endfor %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" / >
        <div class="form-group">
            <label for="name">Username:</label>
            <input type='text' required name='username' value="{{user.username}}" class="form-control" / >
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type='email' readonly name='email' value="{{user.email}}" class="form-control" / >
            <small class="text-muted">* Email can not be edited.</small>
        </div>
        <div class="form-group">
            <label for="bio">Bio:</label>
            <input type='textarea' required name='bio' class="form-control" / >
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type='password' required name='password' class="form-control" / >
        </div>
        <div class="form-check my-1">
            <input type="checkbox" class="form-check-input" name="gallery">
            <label class="form-check-label" for="gallery">Private Account</label>
            <small class="text-muted pl-2">When your account is private only people you approve can see your photos on Nextagram.Your existing followers won't be affected.</small>
        </div>
        <button type="submit" class="btn bg-white btn-outline-primary mt-2">Update</button>
    </form>

{% endblock %}