{% extends "_layout.html" %}
{% block css %}
<style>
#tab {
  font-size:20px;
}
</style>
{% endblock%}
{% block title %}
  Profile
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-4 text-right">
    <img src="{{user.profile_image_url}}" width="200" height="200" class="img-thumbnail border rounded-circle" />
  </div>
  <div class="col-4">
    <h1>{{user.username}}</h1>
    <p>{{user.bio}}</p>
    <h4>{{ttl}} photos</h4>
  </div>
</div>
<div class="panel-heading mt-3">
  <ul id="tab" class="nav nav-tabs justify-content-center" style="font-size:18px" role="tablist">
    <li><a class="nav-link active" href="#photo" role="tab" data-toggle="tab">photos</a></li>
    <li><a class="nav-link" href="#profile_image" role="tab" data-toggle="tab">profile picture</a></li>
    <li><a class="nav-link" href="#follower" role="tab" data-toggle="tab">followers</a></li>
  </ul>
  <div class="tab-content clearfix">
    <div role="tabpanel" class="tab-pane active card-columns" id="photo">
      {% for image in images %}
        <div class="card">
          <img class="card-img-top" src="{{image.image_url}}" alt="{{image.name}}" width="280">
          <div class="card-img-overlay d-flex align-items-end justify-content-between">
            {% if current_user.username == user.username %}
            <form action="{{url_for('images.delete',id=image.id)}}" onsubmit="return confirm('Are you sure you wish to delete?')" method="POST">          
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" / >            
              <input type="submit" class="btn btn-outline-danger mt-2" value="Delete"/>
            </form>
            <form action="{{url_for('images.update',id=image.id)}}" method="POST">          
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" / >            
              <input type="submit" class="d-inline-block btn btn-outline-primary mt-2" value="Set as profile image"/>
            </form>
            {% else %}
            <!-- donate button -->
            <form action="{{url_for('checkouts.new_checkout',id=image.id)}}" method="GET">          
              <input type="submit" class="btn btn-outline-success mt-2" value="Donate"/>
            </form>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div> 
    <div role="tabpanel" class="tab-pane fade card-columns" id="profile_image">
      {% for image in images %}
        {% if image.gallery == False %}
        <div class="card">
          <img class="card-img-top" src="{{image.image_url}}" alt="{{image.name}}" width="280">
          <div class="card-img-overlay d-flex align-items-end justify-content-between">
            {% if current_user.username == user.username %}
            <form action="{{url_for('images.update',id=image.id)}}" onsubmit="return confirm('Are you sure you wish to remove this phot from album?')" method="POST">          
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" / >            
              <input type="submit" class="btn btn-outline-danger mt-2" value="Remove"/>
            </form>
            {% else %}
            <!-- donate button -->
            <form action="{{url_for('checkouts.new_checkout',id=image.id)}}" method="GET">          
              <input type="submit" class="btn btn-outline-success mt-2" value="Donate"/>
            </form>
            {% endif %}
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane fade card-columns" id="follower">
      <h2>all followers</h2>
    </div>
  </div>
</div> 

{% endblock %}
