{% extends "_layout.html" %}
{% block title %}401{% endblock %}
{% block content %}
<div class="text-center">
    <h1>Authorization Required</h1>
    <p class="text-secondary" style="font-size:20px" >The server could not verify that you are authorized to access the URL requested. You either supplied the wrong credentials (e.g. a bad password), or your browser doesn't understand how to supply the credentials required.</p>
    <img width="400px" src="/static/images/sorry.gif" />
    <div>
        <a href="{{ url_for('index') }}">Back to Homepage</a>
    </div>
</div>
{% endblock %}