{% extends "_layout.html" %}
{% block title %}
  Edit
{% endblock %}
{% block content %}
{% if current_user.role == 'admin' %}
<h5 class="text-center text-muted">Admin access only</h5>
{% endif %}
<h1>Edit {{user.username}}'s Profile</h1>
<form action="{{url_for('edit_info',id=user.id)}}" method="POST"> 
    {% for error in errors if errors|length > 0 %}
    <ul class="flashes alert alert-danger" role="alert" style="list-style: none">  
        <li>{{error}}</li>
    </ul>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" / >
    <div class="form-group">
        <label for="name">Username:</label>
        <input type='text' required name='username' value="{{user.username}}" class="form-control" / >
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type='email' required name='email' value="{{user.email}}" class="form-control" / >
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type='password' required name='password' class="form-control" / >
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
<br />
<form action="{{url_for('profile_photo')}}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" / >
    <label for="user_file">Upload Photo</label>
    <br />
    <input type="file" name="user_file" accept="image/*">
    <br />
    <button type="submit" class="btn btn-primary mt-1">Upload</button>
</form>
{% endblock %}